*.suo
*.user
_ReSharper.*
bin
obj
Semesterarbeit_Schroth_Geiselhart/HomeMediaApp/HomeMediaApp.Droid/HomeMediaApp.Droid.csproj.bak
Semesterarbeit_Schroth_Geiselhart/HomeMediaApp/HomeMediaApp.Droid/HomeMediaApp.Droid.csproj.orig
Semesterarbeit_Schroth_Geiselhart/UpgradeLog.htm
Semesterarbeit_Schroth_Geiselhart/UpgradeLog2.htm
Semesterarbeit_Schroth_Geiselhart/HomeMediaApp/HomeMediaApp.Droid/HomeMediaApp.Droid.csproj
